
<div class="container">

    <p class="fs-1 my-5 text-center">Cortes de cabello</p>

    <div class="row" align="center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/clasico.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title text-center">Clásico</h5>
                  <p class="card-text" style="text-align: justify;">En un corte clásico, la parte superior va cortada toda por igual, al igual que las sienes que llevan la misma longitud. Debajo de las sienes se realiza una disminución, pues así lo dictan los cánones tradicionales de la barbería masculina.</p>
                    <a class="btn btn-success col-12">$10.000</a>                  
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/cortemilitar.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title text-center">Corte militar</h5>
                  <p class="card-text" style="text-align: justify;">El corte militar abandona las tropas del ejército para convertirse en un favorito del street style. Si bien ha ido mutando conforme se adapta a los tiempos, conserva algunas características inamovibles, que son clave para solicitarlo a tu peluquero sin margen de error.</p>
                  <a class="btn btn-success col-12">$8.000</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/degrafilado.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Degrafilado</h5>
                  <p class="card-text" style="text-align: justify;">El degrafilado es un terminado de bajo mantenimiento que, gracias a su versatilidad, es aplicable a casi cualquier corte y tipo de cabello que sea lo suficientemente largo. Este suele hacerse de medios a puntas con una navaja o tijera y sirve para quitar volumen sin modificar la longitud del pelo.</p>
                  <a class="btn btn-success col-12">$12.000</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5" align="center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/fade.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Fade</h5>
                  <p class="card-text" style="text-align: justify;">Empieza con un rapado de los laterales, prácticamente a cero. Pero a la mitad de la cabeza se transforma en un degradado en capas —esto lo diferencia de un undercut— que culmina con una buena mata en la parte superior, dándonos posibilidades infinitas de juego con esa parte de cabello.</p>
                  <a class="btn btn-success col-12">$9.000</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/pelorapado.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Pelo rapado</h5>
                  <p class="card-text" style="text-align: justify;">El rapado se identifica por su longitud, muy cercana al cráneo y recortada con la maquinilla. Por ello, es el tipo de corte de cabello para hombre más sencillo de lucir y mantener. No es necesario peinarlo y solo se requiere de una pasada rápida con la cortadora para retocarlo cuando empieza a crecer.</p>
                  <a class="btn btn-success col-12">$11.000</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="./assets/cortes/undercut.png" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Undercut</h5>
                  <p class="card-text" style="text-align: justify;">Hace poco más de 80 años, el undercut representó a una generación de jóvenes británicos que buscaban conseguir un look peligroso y a la vez impecable. Al mismo tiempo, este estilo respondía hacia la incapacidad para permitirse un barbero lo suficientemente competente para lograr combinar cada zona lateral.</p>
                  <a class="btn btn-success col-12">$12.000</a>
                </div>
            </div>
        </div>
    </div>

</div>

